*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f6f6f6;
	font-size: 16px;
	overflow-x: hidden;
}

.section-title-gradient {
	background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 58.84%, #696969 91.39%, #b1b1b1 116.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Welcome Section */

.welcome-section__bottles-image {
	width: 100%;
	height: auto;
}

.welcome-section__first-bottles-vector-image,
.welcome-section__second-bottles-vector-image,
.welcome-section__first-bg-vector-image,
.welcome-section__second-bg-vector-image,
.welcome-section__third-bg-vector-image {
	position: absolute;
	z-index: -10;
}

.welcome-section__first-bottles-vector-image {
	top: 40%;
	right: 29%;
	height: 40%;
	transform: rotate(12deg);
}

.welcome-section__second-bottles-vector-image {
	height: 35%;
	top: 60%;
	left: 29%;
}

.welcome-section__first-bg-vector-image {
	right: 0;
	bottom: 0;
}

.welcome-section__second-bg-vector-image {
	display: none;
	left: 6%;
	bottom: -55%;
	transform: rotate(15deg);
}

.welcome-section__third-bg-vector-image {
	display: none;
	right: 0;
	bottom: -45%;
}

.welcome-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding-top: 80px;
}

.welcome-section__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-section__image-container {
	padding-top: 2.5rem;
	width: 100%;
	max-width: 1000px;
}

.welcome-section__image-wrapper {
	position: relative;
	height: 100%;
}

.welcome-section__text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.welcome-section__title {
	padding: 1rem;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
}

.welcome-section__special-span {
	color: #dc2626;
}

.welcome-section__subtitle {
	padding: 0.5rem;
	font-size: 1.3rem;
	line-height: 1.75rem;
	font-weight: 600;
	background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.welcome-section__text-description {
	padding: 0.5rem;
	font-size: 1.1rem;
}

.welcome-section__buy-button {
	padding: 0.6rem 2rem;
	margin: 2rem;
	background-color: #30ab4c;
	color: white;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

.welcome-section__buy-button:hover {
	background-color: #217735;
}

@media screen and (min-width: 768px) {
	.welcome-section {
		padding-top: 120px;
	}

	.welcome-section__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.welcome-section__text-description {
		padding: 0.5rem 5rem;
	}

	.welcome-section__buy-button {
		padding: 0.75rem 4rem;
	}
}

@media screen and (min-width: 1024px) {
	.welcome-section__wrapper {
		justify-content: space-between;
		flex-direction: row;
	}

	.welcome-section__image-container {
		padding-top: 0;
		max-width: 600px;
	}

	.welcome-section__text-container {
		padding-right: 5rem;
		align-items: start;
		text-align: left;
	}

	.welcome-section__title {
		padding: 0;
		padding-bottom: 2rem;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.welcome-section__subtitle {
		padding: 0.5rem 0;
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.welcome-section__text-description {
		padding: 0.5rem 2.5rem 0.5rem 0;
		line-height: 24px;
	}

	.welcome-section__buy-button {
		margin: 1rem 0;
	}
}

@media screen and (min-width: 1280px) {
	.welcome-section__image-container {
		max-width: 800px;
	}
}

@media screen and (min-width: 1536px) {
	.welcome-section__image-container {
		margin-left: 2.5rem;
		max-width: 1000px;
	}

	.welcome-section__title {
		font-size: 3.75rem;
		line-height: 1;
	}

	.welcome-section__text-description {
		padding: 0.5rem 12rem 0.5rem 0;
	}

	.welcome-section__second-bg-vector-image,
	.welcome-section__third-bg-vector-image {
		display: block;
	}
}

@media screen and (min-width: 1726px) {
	.welcome-section__image-container {
		margin-left: 5rem;
	}

	.welcome-section__subtitle {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

/* What Sets Us Apart Section */

.what-sets-us-apart-section__special-first-number-box-shadow,
.what-sets-us-apart-section__special-second-number-box-shadow {
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.what-sets-us-apart-section__special-first-number-box-shadow {
	padding: 11px 19px;
}

.what-sets-us-apart-section__special-second-number-box-shadow {
	padding: 12px 19px;
}

.what-sets-us-apart-section__first-container-vector-image-1,
.what-sets-us-apart-section__first-container-vector-image-2,
.what-sets-us-apart-section__second-container-vector-image-1,
.what-sets-us-apart-section__second-container-vector-image-2,
.what-sets-us-apart-section__third-container-vector-image-1,
.what-sets-us-apart-section__third-container-vector-image-2 {
	position: absolute;
	z-index: -10;
}

.what-sets-us-apart-section__first-container-vector-image-1 {
	top: 30%;
	left: -15%;
	transform: rotate(-12deg);
}

.what-sets-us-apart-section__first-container-vector-image-2 {
	display: none;
	top: 10%;
	right: -7%;
	transform: rotate(25deg);
}

.what-sets-us-apart-section__second-container-vector-image-1 {
	bottom: 10%;
	left: -16%;
	transform: rotate(210deg);
}

.what-sets-us-apart-section__second-container-vector-image-2 {
	bottom: 10%;
	right: -6%;
	transform: rotate(180deg);
}

.what-sets-us-apart-section__third-container-vector-image-1 {
	top: 22%;
	left: -13%;
	transform: rotate(-12deg);
}

.what-sets-us-apart-section__third-container-vector-image-2 {
	bottom: 10%;
	right: 0;
	transform: rotate(180deg);
}

.what-sets-us-apart-section {
	width: 100%;
	padding-bottom: 2.5rem;
}

.what-sets-us-apart-section__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.what-sets-us-apart-section__title {
	padding: 3rem 0 0.5rem;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	font-weight: 600;
	height: 100%;
}

.what-sets-us-apart-section__title-highlight,
.what-sets-us-apart-section__box-title-highlight {
	width: 50px;
	height: 1px;
	border: 1px solid #111111;
}

.what-sets-us-apart-section__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 4rem;
	width: 100%;
	text-align: center;
}

.what-sets-us-apart-section__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 1rem;
	width: 100%;
	max-width: 400px;
}

.what-sets-us-apart-section__box-title {
	padding-top: 2rem;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 1.75rem;
}

.what-sets-us-apart-section__box-title-highlight {
	margin: 1.25rem 0;
}

.what-sets-us-apart-section__description {
	padding-bottom: 1.25rem;
}

.what-sets-us-apart-section__description span {
	font-weight: 600;
}

.what-sets-us-apart-section__description:nth-of-type(2) {
	padding-top: 0.75rem;
	padding-bottom: 0.9rem;
}

.what-sets-us-apart-section__description-special-paragraph {
	padding-bottom: 2.5rem;
	text-align: left;
}

.what-sets-us-apart-section__description-special-paragraph span {
	margin-right: 0.75rem;
	background-color: white;
	font-weight: 600;
	border-radius: 50%;
}

.what-sets-us-apart-section__image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.what-sets-us-apart-section__image-container--special {
	flex-direction: column;
}

.what-sets-us-apart-section__second-container-image-1,
.what-sets-us-apart-section__second-container-image-2 {
	padding-bottom: 1rem;
}

.what-sets-us-apart-section__first-container-image,
.what-sets-us-apart-section__third-container-image,
.what-sets-us-apart-section__image-container--special {
	width: 95%;
	padding-bottom: 1rem;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s;
}

@media screen and (max-width: 500px) {
	.what-sets-us-apart-section__title {
		padding-top: 4rem;
	}

	.what-sets-us-apart-section__container {
		padding-top: 5rem;
	}
}

@media screen and (min-width: 500px) {
	.what-sets-us-apart-section__first-container-vector-image-2 {
		display: block;
	}

	.what-sets-us-apart-section__image-container--special {
		flex-direction: row;
	}

	.what-sets-us-apart-section__second-container-image-1 {
		padding-bottom: 0;
		padding-right: 0.5rem;
	}

	.what-sets-us-apart-section__second-container-image-2 {
		padding-bottom: 0;
		padding-left: 0.5rem;
	}
}

@media screen and (min-width: 768px) {
	.what-sets-us-apart-section__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.what-sets-us-apart-section__description {
		font-size: 18px;
	}
}

@media screen and (min-width: 1024px) {
	.what-sets-us-apart-section__title {
		padding-bottom: 1rem;
	}

	.what-sets-us-apart-section__title-highlight,
	.what-sets-us-apart-section__box-title-highlight {
		width: 80px;
	}

	.what-sets-us-apart-section__container {
		justify-content: space-between;
	}

	.what-sets-us-apart-section__box {
		padding: 0;
	}

	.what-sets-us-apart-section__box:nth-of-type(2) {
		width: 95%;
	}

	.what-sets-us-apart-section__box-title {
		padding-top: 0;
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.what-sets-us-apart-section__second-container-image-1,
	.what-sets-us-apart-section__second-container-image-2 {
		width: 95%;
	}

	.what-sets-us-apart-section__first-container-image:hover,
	.what-sets-us-apart-section__third-container-image:hover,
	.what-sets-us-apart-section__image-container--special:hover {
		border-bottom: 1px solid #111111;
	}
}

@media screen and (min-width: 1536px) {
	.what-sets-us-apart-section__title {
		padding-top: 5rem;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.what-sets-us-apart-section__title-highlight {
		width: 120px;
	}

	.what-sets-us-apart-section__container {
		flex-direction: row;
		padding-top: 12rem;
	}

	.what-sets-us-apart-section__box-title-highlight {
		width: 100px;
	}
}

@media screen and (min-width: 1726px) {
	.what-sets-us-apart-section__container {
		padding: 11rem 12rem 0;
	}
}
