/* Reset */

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Globals */

html {
	scroll-behavior: smooth;
}

body {
	background-color: #f6f6f6;
	font-size: 16px;
	overflow-x: hidden;
}

.active {
	border-bottom: 1px solid black;
}

section {
	scroll-margin-top: 80px;
}

.section-title-gradient {
	background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 58.84%, #696969 91.39%, #b1b1b1 116.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Navbar */

.nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	top: 0;
	height: 80px;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	letter-spacing: 0.1em;
	z-index: 10;
}

.nav__logo-container {
	flex: 0 1 auto;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.nav__logo {
	display: flex;
	align-items: center;
}

.nav__logo h2 {
	padding: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

.nav__logo span {
	color: #dc2626;
}

.nav__desktop {
	display: none;
}

.nav__desktop-items {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	color: #000000;
	list-style-type: none;
}

.nav__desktop-item {
	margin: 0 0.5rem;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	z-index: 10;
}

.nav__desktop-item a {
	padding-bottom: 10px;
	color: #111111;
	text-decoration: none;
}

.active {
	border-bottom: 1px solid #111111;
}

.nav__mobile-menu-icon {
	margin: 0 0.5rem;
	color: #000000;
	font-size: 32px;
	cursor: pointer;
}

.nav__mobile-items {
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 0.75rem;
	top: 0;
	right: 0;
	width: 70vw;
	height: 100vh;
	border-radius: 0.375rem;
	color: #ffffff;
	background-color: #000000;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	list-style-type: none;
	z-index: 20;

	transition: transform 0.7s, opacity 0.7s;
	transform: translateX(100%);
	opacity: 0;
}

.nav__mobile-items--active {
	transform: translateX(0);
	opacity: 1;
}

.nav__mobile-item {
	margin: 0 0.5rem 1.25rem;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.nav__mobile-item a {
	color: white;
	text-decoration: none;
}

.nav__close-icon {
	margin: 0.5rem 0;
	align-self: flex-start;
	font-size: 1.25rem;
	line-height: 1.75rem;
	cursor: pointer;
}

@media (min-width: 768px) {
	.nav {
		height: 120px;
	}

	.nav__desktop {
		display: block;
	}

	.nav__mobile-menu-icon {
		display: none;
	}

	.nav__mobile {
		display: none;
	}

	.nav__logo h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.nav__desktop-item a:hover {
		color: #dc2626;
	}
}

@media (min-width: 990px) {
	.nav {
		padding: 0.5rem 2rem;
	}

	.nav__logo {
		margin: 0 0.5rem;
	}

	.nav__logo h2 {
		padding: 0;
	}

	.nav__desktop-item {
		margin: 0 1rem;
	}
}

@media screen and (min-width: 1536px) {
	.nav {
		justify-content: center;
		padding: 0.5rem 0;
	}
}

@media (min-width: 1726px) {
	.nav__logo-container {
		margin-right: 5rem;
	}

	.nav__desktop-items {
		margin-left: 20rem;
	}
}

/* Welcome Section */

.welcome-section__bottles-image {
	width: 100%;
	height: auto;
}

.welcome-section__first-bottles-vector-image,
.welcome-section__second-bottles-vector-image,
.welcome-section__first-bg-vector-image,
.welcome-section__second-bg-vector-image,
.welcome-section__third-bg-vector-image {
	position: absolute;
	z-index: -10;
}

.welcome-section__first-bottles-vector-image {
	top: 40%;
	right: 29%;
	height: 40%;
	transform: rotate(12deg);
}

.welcome-section__second-bottles-vector-image {
	height: 35%;
	top: 60%;
	left: 29%;
}

.welcome-section__first-bg-vector-image {
	right: 0;
	bottom: 0;
}

.welcome-section__second-bg-vector-image {
	display: none;
	left: 6%;
	bottom: -55%;
	transform: rotate(15deg);
}

.welcome-section__third-bg-vector-image {
	display: none;
	right: 0;
	bottom: -45%;
}

.welcome-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
	width: 100%;
	min-height: 100vh;
}

.welcome-section__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-section__image-container {
	padding-top: 2.5rem;
	width: 100%;
	max-width: 1000px;
}

.welcome-section__image-wrapper {
	position: relative;
	height: 100%;
}

.welcome-section__text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.welcome-section__title {
	padding: 1rem;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: uppercase;
}

.welcome-section__special-span {
	color: #dc2626;
}

.welcome-section__subtitle {
	padding: 0.5rem;
	font-size: 1.3rem;
	line-height: 1.75rem;
	font-weight: 600;
	background: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.welcome-section__text-description {
	padding: 0.5rem;
	font-size: 1.1rem;
}

.welcome-section__buy-button {
	padding: 0.6rem 2rem;
	margin: 2rem;
	background-color: #30ab4c;
	color: white;
	font-size: 1rem;
	border: none;
	transition: background-color 0.3s;
	cursor: pointer;
}

.welcome-section__buy-button:hover {
	background-color: #217735;
}

@media screen and (min-width: 768px) {
	.welcome-section {
		padding-top: 120px;
	}

	.welcome-section__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.welcome-section__text-description {
		padding: 0.5rem 5rem;
	}

	.welcome-section__buy-button {
		padding: 0.75rem 4rem;
	}
}

@media screen and (min-width: 1024px) {
	section {
		scroll-margin-top: 120px;
	}

	.welcome-section__wrapper {
		justify-content: space-between;
		flex-direction: row;
	}

	.welcome-section__image-container {
		padding-top: 0;
		max-width: 600px;
	}

	.welcome-section__text-container {
		padding-right: 5rem;
		align-items: start;
		text-align: left;
	}

	.welcome-section__title {
		padding: 0;
		padding-bottom: 2rem;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.welcome-section__subtitle {
		padding: 0.5rem 0;
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.welcome-section__text-description {
		padding: 0.5rem 2.5rem 0.5rem 0;
		line-height: 24px;
	}

	.welcome-section__buy-button {
		margin: 1rem 0;
	}
}

@media screen and (min-width: 1280px) {
	.welcome-section__image-container {
		max-width: 800px;
	}
}

@media screen and (min-width: 1536px) {
	.welcome-section__image-container {
		margin-left: 2.5rem;
		max-width: 1000px;
	}

	.welcome-section__title {
		font-size: 3.75rem;
		line-height: 1;
	}

	.welcome-section__text-description {
		padding: 0.5rem 12rem 0.5rem 0;
	}

	.welcome-section__second-bg-vector-image,
	.welcome-section__third-bg-vector-image {
		display: block;
	}
}

@media screen and (min-width: 1726px) {
	.welcome-section__image-container {
		margin-left: 5rem;
	}

	.welcome-section__subtitle {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

/* What Sets Us Apart Section */

.what-sets-us-apart-section__special-first-number-box-shadow,
.what-sets-us-apart-section__special-second-number-box-shadow {
	text-align: center;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.what-sets-us-apart-section__special-first-number-box-shadow {
	padding: 11px 19px;
}

.what-sets-us-apart-section__special-second-number-box-shadow {
	padding: 12px 19px;
}

.what-sets-us-apart-section__first-container-vector-image-1,
.what-sets-us-apart-section__first-container-vector-image-2,
.what-sets-us-apart-section__second-container-vector-image-1,
.what-sets-us-apart-section__second-container-vector-image-2,
.what-sets-us-apart-section__third-container-vector-image-1,
.what-sets-us-apart-section__third-container-vector-image-2 {
	position: absolute;
	z-index: -10;
}

.what-sets-us-apart-section__first-container-vector-image-1 {
	top: 30%;
	left: -15%;
	transform: rotate(-12deg);
}

.what-sets-us-apart-section__first-container-vector-image-2 {
	display: none;
	top: 10%;
	right: -7%;
	transform: rotate(25deg);
}

.what-sets-us-apart-section__second-container-vector-image-1 {
	bottom: 10%;
	left: -16%;
	transform: rotate(210deg);
}

.what-sets-us-apart-section__second-container-vector-image-2 {
	bottom: 10%;
	right: -6%;
	transform: rotate(180deg);
}

.what-sets-us-apart-section__third-container-vector-image-1 {
	top: 22%;
	left: -13%;
	transform: rotate(-12deg);
}

.what-sets-us-apart-section__third-container-vector-image-2 {
	bottom: 10%;
	right: -3%;
	transform: rotate(180deg);
}

.what-sets-us-apart-section {
	width: 100%;
	padding-bottom: 2.5rem;
}

.what-sets-us-apart-section__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.what-sets-us-apart-section__title {
	padding: 3rem 0 0.5rem;
	height: 100%;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	font-weight: 600;
}

.what-sets-us-apart-section__title-highlight,
.what-sets-us-apart-section__box-title-highlight {
	width: 50px;
	height: 1px;
	border: 1px solid #111111;
}

.what-sets-us-apart-section__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 4rem;
	width: 100%;
	text-align: center;
}

.what-sets-us-apart-section__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 1rem;
	width: 100%;
	max-width: 400px;
}

.what-sets-us-apart-section__box-title {
	padding-top: 2rem;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 1.75rem;
}

.what-sets-us-apart-section__box-title-highlight {
	margin: 1.25rem 0;
}

.what-sets-us-apart-section__description {
	padding-bottom: 1.25rem;
}

.what-sets-us-apart-section__description span {
	font-weight: 600;
}

.what-sets-us-apart-section__description:nth-of-type(2) {
	padding-top: 0.75rem;
	padding-bottom: 0.9rem;
}

.what-sets-us-apart-section__description-special-paragraph {
	padding-bottom: 2.5rem;
	text-align: left;
}

.what-sets-us-apart-section__description-special-paragraph span {
	margin-right: 0.75rem;
	background-color: white;
	font-weight: 600;
	border-radius: 50%;
}

.what-sets-us-apart-section__image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.what-sets-us-apart-section__image-container--special {
	flex-direction: column;
}

.what-sets-us-apart-section__second-container-image-1,
.what-sets-us-apart-section__second-container-image-2 {
	padding-bottom: 1rem;
}

.what-sets-us-apart-section__first-container-image,
.what-sets-us-apart-section__third-container-image,
.what-sets-us-apart-section__image-container--special {
	padding-bottom: 1rem;
	width: 95%;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s;
}

@media screen and (max-width: 500px) {
	.what-sets-us-apart-section__title {
		padding-top: 4rem;
	}

	.what-sets-us-apart-section__container {
		padding-top: 5rem;
	}
}

@media screen and (min-width: 500px) {
	.what-sets-us-apart-section__first-container-vector-image-2 {
		display: block;
	}

	.what-sets-us-apart-section__image-container--special {
		flex-direction: row;
	}

	.what-sets-us-apart-section__second-container-image-1 {
		padding-bottom: 0;
		padding-right: 0.5rem;
	}

	.what-sets-us-apart-section__second-container-image-2 {
		padding-bottom: 0;
		padding-left: 0.5rem;
	}
}

@media screen and (min-width: 768px) {
	.what-sets-us-apart-section__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.what-sets-us-apart-section__description {
		font-size: 18px;
	}
}

@media screen and (min-width: 1024px) {
	.what-sets-us-apart-section__title {
		padding-bottom: 1rem;
	}

	.what-sets-us-apart-section__title-highlight,
	.what-sets-us-apart-section__box-title-highlight {
		width: 80px;
	}

	.what-sets-us-apart-section__container {
		justify-content: space-between;
	}

	.what-sets-us-apart-section__box {
		padding: 0;
	}

	.what-sets-us-apart-section__box:nth-of-type(2) {
		width: 95%;
	}

	.what-sets-us-apart-section__box-title {
		padding-top: 0;
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.what-sets-us-apart-section__second-container-image-1,
	.what-sets-us-apart-section__second-container-image-2 {
		width: 95%;
	}

	.what-sets-us-apart-section__first-container-image:hover,
	.what-sets-us-apart-section__third-container-image:hover,
	.what-sets-us-apart-section__image-container--special:hover {
		border-bottom: 1px solid #111111;
	}
}

@media screen and (min-width: 1536px) {
	.what-sets-us-apart-section__title {
		padding-top: 5rem;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.what-sets-us-apart-section__title-highlight {
		width: 120px;
	}

	.what-sets-us-apart-section__container {
		flex-direction: row;
		padding-top: 12rem;
	}

	.what-sets-us-apart-section__box-title-highlight {
		width: 100px;
	}
}

@media screen and (min-width: 1726px) {
	.what-sets-us-apart-section__container {
		padding: 11rem 12rem 0;
	}
}

/* Composition */

.bottle-image,
.dog-image {
	position: relative;
	z-index: 1;
}

.bottle-image {
	max-height: 900px;
}

.dog-image {
	width: 100%;
}

.first-bottle-vector-image,
.second-bottle-vector-image,
.first-dog-vector-image,
.second-dog-vector-image {
	position: absolute;
}

.first-bottle-vector-image {
	top: 42%;
	left: 5%;
	transform: rotate(15deg);
}

.second-bottle-vector-image {
	top: 28%;
	right: 0;
	transform: rotate(20deg);
}

.first-dog-vector-image {
	display: block;
	top: 30%;
	left: 15%;
}

.second-dog-vector-image {
	display: none;
	top: 20%;
	right: 4%;
	transform: rotate(40deg);
}

.composition {
	width: 100%;
}

.composition__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ffffff;
}

.composition__title {
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	height: 100%;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
	text-align: center;
}

.composition__title-highlight {
	height: 1px;
	width: 50px;
	border: 1px solid #111111;
}

.composition__subtitle {
	padding-top: 7rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.composition__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 4rem;
	width: 100%;
	text-align: center;
}

.composition__box--first,
.composition__box--second,
.composition__box--third,
.composition__box--fourth,
.composition__box--fifth,
.composition__box--sixth {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 3rem;
	max-width: 400px;
}

.composition__box--first h5,
.composition__box--second h5,
.composition__box--third h5,
.composition__box--fifth h5,
.composition__box--sixth h5 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.composition__box--first span,
.composition__box--second span,
.composition__box--third span,
.composition__box--fourth span,
.composition__box--fifth span,
.composition__box--sixth span {
	padding-bottom: 1rem;
}

.composition__box--first p,
.composition__box--second p,
.composition__box--third p,
.composition__box--fourth p,
.composition__box--fifth p,
.composition__box--sixth p {
	padding: 0 0.5rem;
}

.composition__bottle-image-box {
	display: none;
}

.composition__bottle-image-button {
	padding: 0.75rem 4rem;
	margin: 1rem 0;
	color: #ffffff;
	background-color: #ad4844;
	font-size: 17px;
	border: none;
	transition: background-color 0.3s;
	cursor: pointer;
}

.composition__box--fourth h5 {
	padding: 0.75rem 0;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.composition__dog-image-container {
	margin-top: 3rem;
	width: 100%;
	max-width: 1000px;
}

.composition__dog-image-box {
	position: relative;
	width: 100%;
	height: 100%;
}

.composition__mobile-button {
	padding: 0.5rem 2rem;
	margin: 2rem;
	color: #ffffff;
	background-color: #ad4844;
	border: none;
	transition: background-color 0.3s;
}

@media screen and (max-width: 500px) {
	.composition__subtitle {
		padding-top: 5rem;
	}
}

@media (min-width: 768px) {
	.composition__title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}

	.composition__mobile-button {
		padding: 0.5rem 4rem;
	}
}

@media (max-width: 1024px) {
	.composition__box--first,
	.composition__box--second,
	.composition__box--third,
	.composition__box--fourth,
	.composition__box--fifth,
	.composition__box--sixth {
		padding: 0 1rem 3rem;
	}
}

@media (min-width: 1024px) {
	.highlight-on-hover h5 {
		position: relative;
	}

	.highlight-on-hover h5::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 10%;
		width: 100%;
		border-bottom: 1px solid transparent;
		transition: border-color 0.3s;
	}

	.highlight-on-hover:hover h5::after {
		border-color: #111111;
	}

	.composition__title {
		padding-bottom: 1rem;
	}

	.composition__title-highlight {
		width: 80px;
	}

	.composition__subtitle {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.composition__container {
		padding: 7rem 5rem 0;
		flex-direction: row;
		justify-content: space-between;
	}

	.composition__box--first h5,
	.composition__box--second h5,
	.composition__box--third h5,
	.composition__box--fourth h5,
	.composition__box--fifth h5,
	.composition__box--sixth h5 {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.composition__box--second {
		padding-top: 1.5rem;
	}

	.composition__box--second p {
		padding: 0 2rem;
	}

	.composition__bottle-image-button:hover {
		background-color: #79322f;
	}

	.composition__box--fourth {
		padding-bottom: 6rem;
	}

	.composition__box--fourth p {
		padding: 0.25rem 0.5rem;
	}

	.composition__box--fifth {
		padding: 0.5rem 1rem 4rem;
	}

	.composition__box--fifth img {
		padding-bottom: 10px;
	}

	.composition__dog-image-container {
		margin-top: 5rem;
	}

	.composition__mobile-button:hover {
		background-color: #79322f;
	}

	.composition__container {
		margin: 1rem 0;
	}

	.composition__box--first,
	.composition__box--second,
	.composition__box--third,
	.composition__box--fourth,
	.composition__box--fifth,
	.composition__box--sixth {
		height: 330px;
	}
}

@media screen and (min-width: 1280px) {
	.composition__container {
		padding: 0 8rem;
	}

	.composition__box--first,
	.composition__box--second,
	.composition__box--third,
	.composition__box--fourth,
	.composition__box--fifth,
	.composition__box--sixth {
		height: 300px;
	}
}

@media (max-width: 1536px) {
	.composition__subtitle {
		padding-top: 4rem;
	}

	.first-dog-vector-image {
		width: 33%;
	}
}

@media (min-width: 1536px) {
	.second-dog-vector-image {
		display: block;
	}

	.composition__title {
		padding-top: 5rem;
		font-size: 2.25rem;
		line-height: 2.5rem;
	}

	.composition__title-highlight {
		width: 120px;
	}

	.composition__subtitle {
		padding-bottom: 5rem;
	}

	.composition__box--second p {
		padding: 0 0.5rem;
	}

	.composition__box--third {
		padding-top: 2.25rem;
	}

	.composition__bottle-image-box {
		display: block;
	}

	.composition__box--fourth {
		padding-bottom: 7rem;
	}

	.composition__box--fourth img {
		padding-top: 2.25rem;
	}

	.composition__box--fourth h5 {
		padding: 1.25rem 0;
	}

	.composition__box--fourth p {
		padding: 0 0.5rem;
	}

	.composition__box--sixth {
		padding: 0 0.25rem;
	}

	.composition__dog-image-container {
		margin-top: 8rem;
	}

	.composition__mobile-button {
		display: none;
	}
}

@media screen and (min-width: 1726px) {
	.composition__container {
		padding: 0 12rem;
	}
}

/* Products */

.products {
	padding-bottom: 5rem;
	width: 100%;
}

.products__wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.products__select-box {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}

.products__select-box span {
	padding: 0.5rem;
	border: 1px solid #ad4844;
	font-weight: 600;
}

.products__select {
	padding: 0.5rem 1rem 0.5rem 2.25rem;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background: #ad4844;
	border: none;
	border-right: 10px solid transparent;
	cursor: pointer;
}

.products__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products__list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5rem 0;
}

.product__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	width: 220px;
	height: 220px;
	background: #bebebe;
	cursor: pointer;
}

.product__item-text {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
}

#error {
	display: none;
}

.products__popup-wrapper {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #00000080;
	z-index: 10;
}

.products__popup {
	position: relative;
	padding: 1rem;
	width: 83%;
	max-width: 790px;
	background-color: #ffffff;
	border-radius: 0.25rem;
}

.products__popup h6 {
	padding-bottom: 0.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.products__popup-name {
	padding: 1.5rem 0;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.products__popup-name span {
	font-weight: 400;
}

.products__popup-value {
	padding-bottom: 1rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.products__popup-value span {
	font-weight: 400;
}

.products__popup-close-btn {
	position: absolute;
	padding: 0.5rem 1rem;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

@media (min-width: 350px) {
	.product__item {
		width: 330px;
		height: 330px;
	}
}

@media (min-width: 500px) {
	.products__select-box {
		flex-direction: row;
	}

	.products__select {
		padding: 0.5rem 1rem 0.5rem 0;
		width: 90px;
		text-align: left;

		text-align-last: right;
		-moz-text-align-last: right;
	}

	.product__item {
		width: 350px;
		height: 350px;
	}

	.product__item-text {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

@media screen and (min-width: 1024px) {
	.products__popup {
		width: 100%;
	}
}

@media (min-width: 1536px) {
	.products__select-box {
		padding-top: 5rem;
	}
}

@media screen and (min-width: 1726px) {
	.products__list-container {
		padding: 5rem 0 6rem;
	}
}
